<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Author: HAMP -->
<head lang="es" th:fragment="head">
<!-- Indica que es un fragment de nombre head -->
<!-- En este fragmento solo coloco los CSS y JS de bootstrap y jquery-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- StyleCSS -->

<link href="../static/library/bootstrap/css/bootstrap.min.css"
	th:href="@{/library/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />

<link href="../static/library/bootstrap/css/sidebar.css"
	th:href="@{/library/bootstrap/css/sidebar.css}" rel="stylesheet"
	media="screen" />

<link href="../static/library/bootstrap/css/form.css"
	th:href="@{/library/bootstrap/css/form.css}" rel="stylesheet"
	media="screen" />

<link href="../static/library/bootstrap/css/shop-homepage.css"
	th:href="@{/library/bootstrap/css/shop-homepage.css}" rel="stylesheet"
	media="screen" />
	
<link href="../static/library/bootstrap/css/3-col-portfolio.css"
	th:href="@{/library/bootstrap/css/3-col-portfolio.css}" rel="stylesheet"
	media="screen" />

<link href="../static/library/bootstrap/css/blog-post.css"
	th:href="@{/library/bootstrap/css/blog-post.css}" rel="stylesheet"
	media="screen" />


<link href="../static/library/bootstrap/css/media-carousel.css"
	th:href="@{/library/bootstrap/css/media-carousel.css}" rel="stylesheet"
	media="screen" />

<link href="../static/library/bootstrap/css/media-carousel.css"
	th:href="@{/library/bootstrap/css/media-carousel.css}" rel="stylesheet"
	media="screen" />

<link href="../static/library/bootstrap/css/profile.css"
	th:href="@{/library/bootstrap/css/profile.css}" rel="stylesheet"
	media="screen" />

<!-- ScriptJS -->

<script src="../static/library/bootstrap/js/media-carousel.js"
	th:src="@{/library/bootstrap/js/media-carousel.js}"></script>
<script src="../static/library/jquery/jquery-1.12.1.min.js"
	th:src="@{/library/jquery/jquery-1.12.1.min.js}"></script>

<script src="../static/library/bootstrap/js/bootstrap.min.js"
	th:src="@{/library/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript"
	src="../static/library/slick/slick.min.js"
	th:src="@{/library/slick/slick.min.js}"></script>

<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
	});
	$(document)
			.ready(
					function() {
						var trigger = $('.hamburger'), overlay = $('.overlay'), isClosed = false;

						trigger.click(function() {
							hamburger_cross();
						});

						function hamburger_cross() {

							if (isClosed == true) {
								overlay.hide();
								trigger.removeClass('is-open');
								trigger.addClass('is-closed');
								isClosed = false;
							} else {
								overlay.show();
								trigger.removeClass('is-closed');
								trigger.addClass('is-open');
								isClosed = true;
							}
						}

						$('[data-toggle="offcanvas"]').click(function() {
							$('#wrapper').toggleClass('toggled');
						});
					});
</script>
</head>
<body>

</body>
</html>