<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<!--Author: HAMP -->
</head>
<body>

    <!-- Este container tiene un div fragmente y un div jumbotron -->
	<div class="container">
	
		<!-- Indica que es un fragment de nombre header solo contiene un NAV 
		esto lo saque de : http://getbootstrap.com/components/#navbar-->
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<!-- dentro del fragmento coloco un nav(menu)-->
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
						<ul class="nav navbar-nav">
							<li><a href="#" th:href="@{/categorys}">Categorys</a></li>
							<li><a href="#" th:href="@{/products}">Products</a></li>
							<li><a href="#" th:href="@{/empleados}">Empleados</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- Esta seccion lo saque de: http://getbootstrap.com/components/#jumbotron-->
			
			<div class="jumbotron">
				
				<div class="row text-center">
					<h4>Equipo Desarrollador</h4>
					<img class="img-circle" src="../../static/images/spring.jpg"
						width="90" th:src="@{/images/spring.jpg}" />
						
					<img class="img-circle" src="../../static/images/spring.jpg"
						width="90" th:src="@{/images/spring.jpg}" />
						
					<img class="img-circle" src="../../static/images/spring.jpg"
						width="90" th:src="@{/images/spring.jpg}" />
				
					<img class="img-circle" src="../../static/images/spring.jpg"
						width="90" th:src="@{/images/spring.jpg}" />
				
					<img class="img-circle" src="../../static/images/spring.jpg"
						width="90" th:src="@{/images/spring.jpg}" />
				
					<img class="img-circle" src="../../static/images/spring.jpg"
						width="90" th:src="@{/images/spring.jpg}" />
				

				</div>

			

			</div>


		</div>
	</div>

</body>
</html>