<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>EventOS Admin - eventos</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>


	<!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
	<div class="container">
		<div class="row col-md-6 col-md-offset-2 custyle" style="width: 500px">
			<table class="table table-striped custab" >
				<thead>
					<a href="#" th:href="@{/evento/new}"
						class="btn btn-primary btn-xs pull-right"><b>+</b> Añadir
						nuevo evento</a>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Categoria</th>
						<th>Direccion</th>
						<th>Descripcion</th>
						<th>Organizador</th>
						<th>Rating</th>
						
						<th class="text-center" style="width: 100px">Acci&oacute;n</th>
					</tr>
				</thead>

				<tr th:each="c : ${eventos}">
					<td th:text="${c.id}">Codigo</td>
					<!--  <img th:src="${c.urlImg}" />-->
					<td th:text="${c.nombre}">Nombre</td>
					<td th:text="${c.categoria.nombre}">Categoria</td>
					<td th:text="${c.direccion}">Direccion</td>
					<td th:text="${c.descripcion}">Descripcion</td>
					<td th:text="${c.organizador.nombres} + ${c.organizador.apellidos}">Organizador</td>
					<td th:text="${c.rating}">Rating</td>
					
					<td class="text-center "><a class="btn btn-info btn-xs"
						href="#" th:href="@{/evento/edit/} + ${c.id}"><span
							class="glyphicon glyphicon-edit"></span> Editar</a> <a
						class="btn btn-danger btn-xs" href="#"
						th:href="@{/evento/delete/} + ${c.id}"><span
							class="glyphicon glyphicon-remove"></span> Borrar</a>
					</td>
				</tr>


			</table>
		</div>
	</div>
</body>
</html>