<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>EventOS Admin</title>
 <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<ul>
		 <li><a href="#" th:href="@{/usuarios}">Usuarios</a></li>
		 <li><a href="#" th:href="@{/categorias}">Categorias</a></li>
		 <li><a href="#" th:href="@{/eventos}">Eventos</a></li>
		 <li><a href="#" th:href="@{/distritos}">Distritos</a></li>
		 <li><a href="#" th:href="@{/chat}">Chat?</a></li>
	</ul>

</body>
</html>